language: python
sudo: false
python:
- '2.7'
- '3.6'
install:
- pip install --upgrade tox-travis -r requirements_build.txt
script:
- tox
deploy:
  skip_cleanup: true
  provider: script
  script: python scripts/release.py $TRAVIS_TAG
  on:
    branch: master
    tags: true
    condition: $TRAVIS_PYTHON_VERSION = "2.7"
notifications:
  on_success: always
  on_failure: always
  email: false
  slack:
    secure: fTxYi+g7KKlH8Hhs+r+A7FVoj00J1N2IawIZZNB2L6MSB2/puTL3QKOVF5IprvwKcc2lhAe3dPMinhDYgoBY0AeibaEb4GFf7pGJhnN03sdxTBWMBswePf5eU4dexdpdAMldsqffMDbd7Uo22+j0/k0RhJhX7nTvu4GbUFtv4Gh0yh2nw5dDcD3y4ZLRk1SOAK8xErBZO8x30PNPZze+pjIyVcxfkOE1x2P/TfkY1bkWLDbts5bV4txb0Ycu14uS7lWE7OJvxOltl7fBVLnoCrD36fEtdlQes/ZtRqBQJAbDEXtjCHiJDIm83DY2Oh+hrYKrtIFllfYUlNn+gZM9Z3AWtv6zKYKR18XtK+TqI+NUJrAjsgECgy+RmrP2n2DDnYEFePI3YAAet5ssFv0RkE/+7eJpHZFr8mAopyWFhuxUPnnYHVwwTDMk7XFIGx6DCvjH/NDBgFpEXTfZlJ8E0xscPcUIsHr5B6k6FEZa4Dcyoae6OJ2lYVpHu+MPwA2ohGyaxF02HwLRD2ZGfczWEUTYsbexcV91+GyW/SuJHSAUE78fNu8P/WzX5LwBlmcvczTKwpYj52co5K2r6embQ2WcH0qt2GqBfkQFOl2eP00AgIjyJ9MXJD9Ai9YBbU1585jI6MZ0RYt4HZQsujQhHVSgTf1sy5wEDbhPUgiZ12o=
env:
  global:
    secure: dAmK7XbgXUNg9jNybnpdHm+IReR2BXVO0OAqHcCv/pgnY0bxNGAoxFgA6DE8GfgVuuha75ohPlRZXr5i5TKn5BV3B2azWh8JVWKfhAwy6vy6BXdLFKYLO7bvzvys6vrf+Y6lZRawsQzNe5U5/AgiZWYPd+B9Ze4P1YTNf7x/xbxuJxwkR8dZyLss4Jz2xzbH3MD+LRdwc/X2vH0rVdZPcyJqYrLw5Zt6CNhTykfXaLfj+CXWHTntqVLpmCRt2e89i7LZrLVguVuqWRkqG9xyNQlaz37pjEVnf5SZL9X5RtSxzalzG1ArNBRN65FmjNhs1DFdV9bW5iYnR856Xt5swN6YkM8/51ZV2kFGhO6Unv1Woe7F/djR4604OTb9f/GAq1PWmHlMvFZ72PF7yi70Yipc/SEcl7o2Fu/TVNbHNte8cqjHBENBbfImE0RhIgRwzC1bOrKEP3Ekkd3ocZXSuR1qg683tWWyKvrKMZMAf1RZD+dVZMuseA980I4ksgHuh+EE7vlEvTVtUf2DTeMUMlp3AlADpjHlPe44XbC/lQbSPhMZS4B2pzoksbRa0gU3ojVfZF3GYI9ht8Hhg7otDwC925g0p9OhOyn3U0oXS3b/Ra/YggVjCA8IXtiCCoXGzyS6JHjRzEMQFy1nGR+/EcA/i33DvBGJe2MjNM5z/Ag=
